<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ecoplanning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B66CFD71F0D29310017B9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B66CFED1F0D29310017B9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B66CFF81F0D29310017B9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
